
<div id="articles">
  {{#each article}}
    <div class="well">
      <div class="row">
        <div class="col col-md-10">
          <h3><a href="{{this.link}}">{{this.title}}</a></h3> <br>
          <p> {{this.summary}} </p>
        </div>
      	<div class="col col-md-2">
      		<form class="form-inline" action="/articles/{{this.id}}" method="POST">
        		<button type="submit" class="btn btn-success">Save Article</button>
      		</form>
    		</div>
  		<!-- 	<div class="col col-md-2">
  				<form class="form-inline" action="/articles/dismiss/{{this.id}}?_method=DELETE" method="POST">
    				<button type="submit" class="btn btn-warning">Dismiss Article</button>
  				</form>
        </div> -->
      </div>
    </div>
  {{/each}}
</div>





<!-- <div id="notes"></div> -->